* {
    margin: 0;              
    padding: 0;             
    box-sizing: border-box; 
}

body {
    display: flex;              
    flex-direction: column;    
    min-height: 100vh;          
    font-family: Arial, Helvetica, sans-serif;
}

#header-principal {
    display: flex;              
    justify-content: space-between; 
    align-items: center;        
    background-color: grey;
    color: beige;
    padding: 20px;
}

.imgcabecera {
    width: 110px;
    height: 100px;
    border-radius: 6px;
}

main {
    display: flex;     
    flex-direction: column;
    gap: 20px;          
    padding: 20px;
    flex: 1;            
}

.caja {
    display: flex;   
    justify-content: space-between;   
    text-align: justify;
    gap: 20px;              
    border: 1px solid black;
    padding: 20px;          
    border-radius: 8px;    
}

#centro {
    display: flex;           
    justify-content: center;   
    gap: 40px;                  
    padding: 20px;            
    margin: 20px 0;      
    border-radius: 8px;       
    border: 1px solid black;
}

.imagen {
    width: 130px;        
    height: 120px;
    border-radius: 6px;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0 5px; 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
